[Unit]
Description=hostlink
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/usr/bin/
Environment="HOSTLINK_SERVER_URL=http://localhost:8080"
Environment="HOSTLINK_TOKEN_ID=default-token-id"
Environment="HOSTLINK_TOKEN_KEY=default-token-key"
ExecStart=/usr/bin/hostlink
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target

